{% extends "base.html" %}  {% block content %}

{% block js %} 

<script>
    function deletecompany(id_company) {
        Swal.fire({
            title: '¿Estas seguro?',
            text: "Esta acción no se puede deshacer!",
            icon: 'warning',
            showCancelButton: true,
            cancelButtontext: '',
            confirmButtonText: 'Si, Eliminar!',
            confirmButtonColor:  '#d33',
            cancelButtonColor:'#3085d6',
        })
        .then(function(result) {
            if (result.isConfirmed) {
                window.location.href = "/Delete_company/"+id_company+"/"
            }
        })

    }
</script>
{% endblock %}




<table style=" border: 30px solid rgb(255, 255, 255);" class="table table-striped table-hover table-responsive-sm">
     <!-- H1--> 
    <h1 style=" border: 10px solid rgb(255, 255, 255);">Documentos</h1>

    <thead class="table-dark">  
<hr>

    <div  style="border-right: 30px solid rgb(255, 255, 255);" class="d-grid gap-2 d-md-flex justify-content-md-end">
        <a href="{% url 'form_workdoc'%}"><button type="button" class="btn btn-success"><i class="icon ion-ios-add"></i> Añadir</button></a>
        
    </div>
        <tr>
            <th scope="col"> Id</th>
            <th scope="col"> Documento</th>
            <th scope="col"> Acciones</th>
        </tr>
    
    <tbody>
        {% for WorkerDocuments in listado %}
        <tr>
            
        </tr>
        {% endfor %}

        </tbody>
        </table>

<footer>
    <div class="d-flex justify-content-center">
        <a href="{% url 'home' %}"> 
            <button type="button" class="btn btn-secondary">
            <i class="icon ion-md-arrow-back"></i> 
            Volver
        </button>
    </a>
    </div>
</footer>


</html>
{% endblock %}