{% extends "base.html" %}  {% block content %}

{% block js %} 

{% endblock %}




<table style=" border: 30px solid rgb(255, 255, 255);" class="table table-striped table-hover table-responsive-sm">
     <!-- H1--> 
    <h1 style=" border: 10px solid rgb(255, 255, 255);">Documentos</h1>

    <thead class="table-dark">  
<hr>

    <div  style="border-right: 30px solid rgb(255, 255, 255);" class="d-grid gap-2 d-md-flex justify-content-md-end">
        <a href="{% url 'form_workdoc'%}"><button type="button" class="btn btn-success"><i class="icon ion-ios-add"></i> Añadir</button></a>
        
    </div>
        <tr>
            <th>Id</th>
            <th>Documento</th>
            <th>imagen</th>
            <th>descripcion</th>
            <th>Acciones</th>
        </tr>
    
    <tbody>
        {% for list_workdoc in listado %}
        <tr>
            <td>{{WorkerDocuments.id}}</td>
            <td>{{WorkerDocuments.name}}</td>
            <td>{{WorkerDocuments.imagen}}</td>
            <td>{{WorkerDocuments.descripcion}}</td>
            <td><a href="#" 
                class="btn btn-sm btn-block btn-info"><ion-icon name="settings-outline"></ion-icon> Editar</a>
                <a href="#"  
                class="btn btn-sm btn-block btn-danger"><ion-icon name="trash-outline"></ion-icon> Eliminar</a>
            </td>
             
        </tr>
        {% endfor %}

        </tbody>
        </table>

<footer>
    <div class="d-flex justify-content-center">
        <a href="{% url 'home' %}"> 
            <button type="button" class="btn btn-secondary">
            <i class="icon ion-md-arrow-back"></i> 
            Volver
        </button>
    </a>
    </div>
</footer>


</html>
{% endblock %}