{% extends "base.html" %}
{% load static %}
{% block content %}

<br>

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Datos de la empresa</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'company_workplaces' company.id_company %}">Centros de trabajo</a>
    </li>    
    <li class="nav-item">
        <a class="nav-link" href="{% url 'company_workers' company.id_company %}">Trabajadores</a>
    </li>
</ul>


<div class="row">
    <div class="col-12 col-md-6">
        <h1 style=" border: 30px solid rgb(255, 255, 255);">
            {{ company.name_company }}
         </h1>
        <hr>
        <form action="" method="post" class="/form_company/">

            {% csrf_token %}

            {{ form }}

            <br>

            <div class="d-flex">
                <a href="{% url 'list_company' %}">
                    <button type="button" class="btn btn-secondary">Cancelar</button>
                </a>
                &nbsp;
                <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
        </form>

        {{ mensaje }}

    </div>
</div>
{% endblock %}
