{% load static %}

<header nav class="navbar navbar-expand-lg"> 


        <div class="container-fluid" id="container">

            <!-- NavBar -->
            <!-- Icono Desplegable -->
            <div class="icon_menu">
                <i class="fa-solid fa-bars" id="btn_open"></i>
            </div>
            
<!-- dashboard.html -->
<form id="search-form" method="GET" action="{% url 'search_company' %}">
  <div class="input-group ps-5">
    <div id="navbar-search-autocomplete" class="form-outline">
      <input type="search" id="search-input" class="form-control" autocomplete="off" />
      <input type="hidden" name="id_company" id="id-company-input" value="" /> <!-- Obtén el id de la empresa -->
      <label class="form-label" for="search-input"></label>
      <div id="search-results" class="autocomplete-results"></div>
    </div>
  </div>
</form>

<script>
  var searchInput = document.getElementById('search-input');
  var searchResults = document.getElementById('search-results');
  var idCompanyInput = document.getElementById('id-company-input');
  var searchTimeout = null;

  // Función para realizar la búsqueda y mostrar los resultados
  function performSearch(query) {
    var xhr = new XMLHttpRequest();
    xhr.open('GET', '/search_company/?q=' + query, true);
    xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
    xhr.onreadystatechange = function () {
      if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
        var results = JSON.parse(xhr.responseText);
        searchResults.innerHTML = '';

        if (results.length > 0) {
          var resultList = document.createElement('ul');
          results.forEach(function (company) {
            var listItem = document.createElement('li');
            var link = document.createElement('a');
            link.href = '#'; // Enlace vacío para que no redireccione
            link.textContent = company.name_company;
            link.addEventListener('click', function (event) {
              event.preventDefault();
              searchInput.value = company.name_company; // Establece el valor seleccionado en el campo de búsqueda
              idCompanyInput.value = company.id_company; // Establece el ID de la compañía seleccionada en el campo oculto
              localStorage.setItem('selectedCompany', JSON.stringify(company)); // Almacena la empresa seleccionada en localStorage
              searchResults.innerHTML = ''; // Limpia los resultados de búsqueda
              handleCompanySelection(company.id_company); // Llama a la función handleCompanySelection con el ID de la compañía seleccionada
            });
            listItem.appendChild(link);
            resultList.appendChild(listItem);
          });
          searchResults.appendChild(resultList);
        }
      }
    };
    xhr.send();
  }

  // Evento de entrada de texto en el buscador
  searchInput.addEventListener('input', function (event) {
    var query = searchInput.value.trim();

    clearTimeout(searchTimeout);

    if (query.length > 0) {
      searchTimeout = setTimeout(function () {
        performSearch(query);
      }, 300);
    } else {
      searchResults.innerHTML = '';
    }
  });

  // Función para manejar la selección de una compañía
  function handleCompanySelection(companyId) {
    var searchForm = document.getElementById('search-form');
    searchForm.submit();
  }

  // Función para cargar el valor de búsqueda al cargar la página
  function loadSearchValue() {
    var selectedCompany = localStorage.getItem('selectedCompany');
    if (selectedCompany) {
      selectedCompany = JSON.parse(selectedCompany);
      searchInput.value = selectedCompany.name_company; // Restaura el valor en el campo de búsqueda
      idCompanyInput.value = selectedCompany.id_company; // Restaura el ID de la compañía en el campo oculto
    }
  }

  // Cargar el valor de búsqueda al cargar la página
  loadSearchValue();
</script>

              

                  
            <!-- Logout -->
            <div class="spacer ml-auto" class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                      <div class="usuario">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {% if user.is_authenticated %}
                            <img src="{% static 'admin/img/usuario.png' %}" class="img-fluid rounded-circle avatar mr-2">
                            {{ user.username }}
                            {% endif %}
                        </a>
                        
                        <!-- BUTTON TRIGGER MODAL-->
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Perfil</a>
                            <div class="dropdown-divider"></div>
                            
                                <button type="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#exampleModal"> Cerrar sesión</button>
                        </ul>
            
                        <!-- MODAL-->
                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" >
                            <div class="modal-dialog" >
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">¿Está seguro que desea cerrar sesión?</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"data-bs-dismiss="modal"> Seguir navegando</button>
                                        <a href="{% url 'signin' %}"><button type="button" class="btn btn-danger">Cerrar sesión</button></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                     </div> 
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<body id="body" style="margin-top: 0;" >

     <!-- Sidebar titulo --> 
    <div class="menu__side" id="menu_side">
        <div class="name__page">
            <img src="{% static 'admin/img/logotype.png' %}" >
        </div>

             <!-- Sidebar contenido-->  
        <div class="options__menu">
            <br>

           <!-- Dashboard --> 
            <div>
                <a href="{% url 'dashboard' %}" class="d-block text-light p-1"><i class="icon ion-md-apps mr-2 lead"></i> Dashboard 
            </div>
            <!-- Configuración --> 
           <div>
                <a class="d-block text-light p-1" title="Configuración"
                    data-bs-toggle="collapse"
                    role="button" 
                    data-bs-target="#collapseExample1" 
                    aria-expanded="false"
                    aria-controls="collapseExample">
            
                    <i class="icon ion-md-construct mr-2 lead"></i> Configuración
                </a>
           </div>
           <div class="collapse " id="collapseExample1"aria-labelledby="dropdownMenuButton">
                <div class="card card-body">
                    <li><a style="color:black" class="dropdown-item" href="#">Usuarios</a></li>
                    <li><a style="color:black" class="dropdown-item" href="#">Perfil</a></li>
                </div>
           </div>
           
           <!-- Organizacion --> 
           <div class="d-block text-light p-1" title="Organización"
                data-bs-toggle="collapse"
                role="button" 
                data-bs-target="#collapseExample" 
                aria-expanded="false"
                aria-controls="collapseExample">
               <i class="icon ion-md-briefcase"></i> 
               Organización
           </div>
           
           <div class="collapse" id="collapseExample" aria-labelledby="dropdownMenuButton">
               <div class="card card-body">
                   <li><a style="color:black" class="dropdown-item" href="{% url 'list_company' %}">Empresas</a></li>
                   <li><a style="color:black" class="dropdown-item" href="{% url 'list_workplace' %}">Centros de trabajo</a></li>
                   <li><a style="color:black" class="dropdown-item" href="{% url 'list_worker' %}">Trabajadores</a></li>
                   <li><a style="color:black" class="dropdown-item" href="{% url 'list_workdoc' %}">Documentos</a></li>
               </div>
           </div>

        </div>
    </div>

</body>


</header>
