{% extends "base.html" %}
{% block content %}

{% block js %} 
<script>
    function deleteworplace(id_workplace) {
        Swal.fire({
            title: '¿Estas seguro?',
            text: "Esta acción no se puede deshacer!",
            icon: 'warning',
            showCancelButton: true,
            cancelButtontext: '',
            confirmButtonText: 'Si, Eliminar!',
            confirmButtonColor:  '#d33',
            cancelButtonColor:'#3085d6',
        })
        .then(function(result) {
            if (result.isConfirmed) {
                window.location.href = "/delet_workplace/"+id_workplace+"/"
            }
        })

    }
</script>
{% endblock %}




<table style=" border: 30px solid rgb(255, 255, 255);" class="table table-striped table-hover table-responsive-sm">

    <h1 style=" border: 30px solid rgb(255, 255, 255);">
        Listado de Centros
    </h1>
    <thead class="table-hover table-info">  
<hr>

<!-- boton de Nuevo centro-->
<div  style="border-right: 30px solid rgb(255, 255, 255);" class="d-grid gap-2 d-md-flex justify-content-md-end">
    <a href="{% url 'form_workplace'%}">
        <button type="button" class="btn btn-success"><i class="icon ion-ios-add"></i> Añadir</button></a>
    
</div>

<section style=" border-left:30px solid rgb(255, 255, 255);" class="webdesigntuts-workshop;">
    <form action="" method="">
        <input type="search" placeholder="Ingrese Busqueda">
        <button class="btn btn-secondary"> <i class="icon ion-md-search"></i> Buscar</button>
    </form>
</section>
        <tr>
            <th scope="col"> Id </th>
            <th scope="col"> Empresa</th>           
            <th scope="col"> Nombre </th>
            <th scope="col"> Dirección </th>
            <th scope="col"> Comuna </th>
            <th scope="col"> Region </th>
            <th scope="col"> Estado</th>
            <th scope="col"> Acciones</th>
        </tr>
    </thead>

    <tbody>
        {% for Workplace in listado %}
        <tr>
            <td>{{Workplace.id_workplace}}</td>
            <td>{{Workplace.id_company}}</td>
            <th>{{Workplace.name_workplace}}</th>
            <td>{{Workplace.address}}</td>
            <td>{{Workplace.comuna}}</td>
            <td>{{Workplace.region}}</td>
            <td>{{Workplace.estado_workplace}}</td>
            <td> 
                <a href="{% url 'edit_workplace' Workplace.id_workplace %}" class="btn btn-sm btn-block btn-info">
                    <i class="icon ion-md-create"></i> 
                    Editar
                </a>
                <a href="#" onclick="deleteworplace ({{ Workplace.id_workplace }})"
                    class="btn btn-sm btn-block btn-danger">
                    <i class="icon ion-ios-trash"></i> 
                    Eliminar
                </a>
            </td>
        </tr>
        {% endfor %}

    </tbody>
</table>

<footer>
    <div class="d-flex justify-content-center">
        <a href="{% url 'dashboard' %}"> 
            <button type="button" class="btn btn-secondary">
            <i class="icon ion-md-arrow-back"></i> 
            Volver
        </button>
    </a>
    </div>
</footer>

{% endblock %}

</html>