.titulo{
    margin-left: 90px;
    font-family: "Trirong", serif;
}

.form-group-name{
margin-top: 20px;
margin-left: 90px;
font-family: "Trirong", serif;
}

.form-group-ape{
    margin-left: 90px;
    margin-top: 20px;
}

.form-group-rut{
    margin-left: 90px;
    margin-top: 20px;
}

.form-group-dir{
    margin-left: 90px;
    margin-top: 20px;
}

.form-grou-reg{
    margin-left: 90px;
    margin-top: 20px;
}

.form-group-com{
    margin-left: 90px;
    margin-top: 20px;
}

.form-group-tel{
    margin-left: 90px;
    margin-top: 20px;
}

.form-group-email{
    margin-left: 90px;
    margin-top: 20px;
}

.form-group-idcomp{
    margin-left: 90px;
    margin-top: 20px;
}

.btn-primary{
    margin-left: 500px;
}

.btn-secondary{
    margin-left: 30px
}