*{
    font-family: "Trirong", serif;
}

.titulo{
    margin-left: 150px;
}

.container{
    margin-top: 100px;
    margin-right: 0px;
}

.login_signup{
    font-size: 15px;
    text-align: center;
    margin-top: 15px;
}
.body{
    position: relative;
    width: 100%;
    background-image:url("/static/admin/img/fondo3.jpeg") ;
    background-size: cover;
}

.card{
    background-color: #478ed12d;
    border-radius: 50px;
}

.form-group-name{
    margin-left: 145px;
    margin-top: 50px;
    font-size: 20px;
}

.form-group-pass1{
    margin-left: 145px;
    margin-top: 20px;
    font-size: 20px;
}

.form-group-pass2{
    margin-left: 145px;
    margin-top: 20px;
    font-size: 20px;
}
.button{
    margin-top: 30px;
    margin-left: 170px;
    border-radius: 10px;
    padding: 5px 30px;
    background: rgba(151, 221, 233, 0.363);
}
.btn-secondary{
    margin-left: 15px;
    padding: 5px 30px;
}










