<html>

  <head>
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'admin/css/signup.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Trirong">
  </head>

 <body class="body">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6 offset-med-3">
          <div class="card">
            <div class="card-body">
              <h1 class="titulo">Registrar cuenta</h1>
              <hr>
                {{error}}

                <form action="/signup/" method="POST">
                  {% csrf_token %} 
                  
                  <div class="form-group-name">
                    <label for="{{ form.username.id_for_label }}">Usuario:</label>
                    {{ form.username }}
                  </div>
                  <div class="form-group-pass1">
                    <label for="{{ form.password1.id_for_label }}">Contraseña:</label>
                    {{ form.password1 }}
                  </div>
                  <div class="form-group-pass2">
                    <label for="{{ form.password2.id_for_label }}">Confirmar contraseña:</label>
                    {{ form.password2 }}
                  </div>
                  <hr>
                  <button class="button">Registrar</button>
                  <a href="{% url 'signin' %}"><button type="button" class="btn btn-secondary">Cancelar</button></a>
                </form>

            </div>

          </div>

        </div>

      </div>
    </div>

    <section class="home"></section>
 </body>
</html>

